:root {
  --primary-red: #f87070;
  --primary-teal: #70f3f8;
  --primary-purple: #d881f8;
  --text-color: #d7e0ff;
  --dark-background: #1e213f;
  --light-background: #ffffff;
  --dark-accent: #161932;
  --light-accent: #eff1fa;

  --kumbhsans-font: 'Kumbh Sans', sans-serif;
  --robotoslab-font: 'Roboto Slab', serif;
  --spacemono-font: 'Space Mono', monospace;
}

/**********************
  GENERAL STYLES
***********************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 2rem;
  font-size: 100px;
  font-weight: 700;
  line-height: 120px;
  letter-spacing: -5px;
}

h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
}

h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 15px;
  text-transform: uppercase;
}

h4 {
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

body {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  background-color: var(--dark-background);
  color: var(--text-color);
}

button {
  margin: 0;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 26.5px;
  text-decoration: none;
  display: inline-block;
  padding: 0.75rem 0.75rem;
  background-color: transparent;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

button:hover {
  background-color: var(--primary-red);
  filter: brightness(120%);
}

select {
  border: 1px solid var(--dark-background);
  border-radius: 0;
  font-weight: 400;
  color: inherit;
  padding: 11px 15px;
  line-height: normal;
  transition: border-color 0.2s ease, outline 0.2s ease;
}

select:focus {
  box-shadow: 0 3px 4px rgba(var(--dark-background), 0.3) inset;
  outline: 1px solid var(--dark-background);
  outline-offset: -1px;
}

/**********************
  UTILITY CLASSES
***********************/
.container {
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/**********************
  CONTROL BUTTONS
***********************/
.control__buttons {
  background-color: var(--dark-accent);
  margin: 2rem auto;
  border-radius: 26.5px;
  padding: 0.75rem;
}

.btn--state-active {
  background-color: var(--primary-red);
  color: var(--dark-background);
}

/**********************
  TIMER 
***********************/
.timer {
  margin: 3rem auto;
  width: 400px;
  height: 400px;
  background-color: var(--dark-accent);
  border-radius: 50%;
  padding: 1rem;
  background-image: linear-gradient(to bottom right, #0e112a, #2e325a);
  box-shadow: -40px -27px 42px 5px #2e325a;
}

.timer__circle-wrap {
  position: relative;
  background-color: var(--dark-accent);
  background-color: var(--dark-accent);
  border-radius: 50%;
  padding: 0.25rem;
}

.timer__circle {
  fill: none;
  stroke: none;
}

.timer__path-elapsed {
  stroke-width: 4px;
  stroke: var(--primary-red);
}

.timer__time-left {
  position: absolute;
  top: 30%;
  left: 21%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer__controls {
  position: absolute;
  bottom: 25%;
  left: 30%;
}

.min-sec {
  margin: 0;
}

/**********************
  SETTINGS 
***********************/
.settings__icon button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}

.settings__icon button img {
  margin-right: 0.25rem;
}

.settings {
  z-index: 1010;

  /* display: flex; */
  display: none;
  text-align: left;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--light-background);
  color: var(--dark-accent);
  border-radius: 25px;
  width: 600px;
  max-width: 80%;
  height: 400px;
  max-height: 80%;
}

/* .settings__overlay {
  z-index: 1000;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;

  background: rgba(0, 0, 0, 0.6);
} */

.settings__inner {
  /* cover the modal */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* let it scroll */
  overflow: auto;
}

.settings__top {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0.5rem 0;
  padding: 20px 30px;
  border-bottom: 1px solid #979797;
}

.settings__body-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}

.settings__set-time {
  padding-bottom: 1rem;
  border-bottom: 1px solid #979797;
}

.settings__set-time h4 {
  margin-bottom: 1rem;
}
